*.class
*.log

.DS_Store
.RData
alpine-r-connector.jar
nohup.out
*.Rout
r_log.txt
scripts/alpine-r-connector.jar
scripts/java-r-server.pid
scripts/start_r_component.Rout


.idea/*
*.iml

.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

.scala_dependencies
.worksheet
